.header {
  position: fixed;
  font-family: var(--font-Archivo);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  z-index: 3;
  width: 100%;
  background-color: white;
}
.header__nav {
  display: flex;
  align-items: center;
  padding: 20px;
}
.header__menu {
  margin-right: 20px;
}
.header__menu img {
  display: none;
  cursor: pointer;
}
.header__menu img.active {
  display: block;
}
.header__menu img:nth-child(2) {
  width: 14px;
  height: 14px;
  margin: 0 3px 0 3px;
}
.header__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header__content-logo {
  display: flex;
  align-items: center;
}
.header__content-logo.logo__letter {
  position: relative;
  z-index: 4;
  font-weight: 700;
  margin-right: 15px;
  padding: 10px;
  box-shadow: 0px 10px 24px rgba(126, 126, 126, 0.25);
}
.header__content-name {
  font-size: 13px;
}
.header__content-name p:first-child {
  font-weight: 700;
}
.header__content-menu {
  display: none;
}
.header__content-menu.active {
  background-color: white;
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 75px;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}
.header__content-menu.active ul {
  padding: 20px;
  list-style: none;
}
.header__content-menu.active ul li {
  margin-bottom: 20px;
}
.header__content-menu.active ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.header__content-options {
  display: flex;
  align-items: center;
}
.header__content-options img {
  margin-left: 20px;
  cursor: pointer;
}

.introduction {
  background-color: #333333;
  position: relative;
  z-index: 1;
  padding: 140px 20px 75px 20px;
  font-family: var(--font-Archivo);
  color: white;
}
.introduction__caption {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
}
.introduction__title {
  margin-top: 40px;
  font-family: var(--font-OldStandard);
  font-size: 56px;
  line-height: 60px;
  font-weight: 400;
}
.introduction__btn {
  color: white;
  display: block;
  padding: 23px 47px;
  font-family: var(--font-Archivo);
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border: 1px solid #BEAD8E;
}
.introduction__btn.btn-tour {
  margin-top: 40px;
  background-color: #BEAD8E;
}
.introduction__btn.btn-learn {
  margin-top: 20px;
  background: none;
}

::-webkit-calendar-picker-indicator {
  background-image: url("../assets/home/home_calendar_icon.png");
  margin-right: 10px;
}

.availability {
  background-color: #222222;
  color: white;
  padding: 20px;
}
.availability__input {
  font-family: var(--font-Roboto);
  font-size: 14px;
  padding-bottom: 5px;
  width: 100%;
  margin: 20px 0px;
  background: none;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  color: #686868;
  display: flex;
  flex-direction: row-reverse;
}
.availability__input ::-webkit-calendar-picker-indicator {
  color: #BEAD8E;
}
.availability__arrival label, .availability__departure label {
  font-family: var(--font-Roboto);
  font-weight: 700;
  font-size: 16px;
  display: block;
}
.availability__btn {
  color: white;
  display: block;
  padding: 23px 27px;
  font-family: var(--font-Roboto);
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border: 1px solid #BEAD8E;
  margin-top: 20px;
  background-color: #BEAD8E;
}

.aboutUs {
  position: relative;
}
.aboutUs__introduction {
  background-color: #F9F9F9;
  margin-top: 60px;
  padding: 20px 20px 175px 20px;
}
.aboutUs__caption {
  font-family: var(--font-Archivo);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 20px;
  color: #777777;
}
.aboutUs__title {
  margin-top: 30px;
  font-family: var(--font-OldStandard);
  font-weight: 400;
  font-size: 56px;
  overflow-wrap: break-word;
}
.aboutUs__description {
  margin-top: 20px;
  color: #777777;
  font-family: var(--font-Archivo);
  line-height: 24px;
  font-size: 14px;
}
.aboutUs__btn {
  margin-top: 25px;
  color: white;
  display: block;
  padding: 23px 60px;
  font-family: var(--font-Roboto);
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border: 1px solid #BEAD8E;
  margin-top: 20px;
  background-color: #BEAD8E;
}
.aboutUs__card {
  margin: 0 auto;
  width: min(80%, 600px);
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.aboutUs__card.team {
  position: relative;
  top: -100px;
}
.aboutUs__card .card__img {
  width: 100%;
  height: 300px;
}
.aboutUs__card .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutUs__card.luxuryRoom {
  position: relative;
  top: -50px;
}
.aboutUs__card .card__body {
  padding-top: 55px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}
.aboutUs__card .card__body.colored {
  background-color: #222222;
  color: white;
}
.aboutUs__card .card__body .img__background {
  position: absolute;
  margin-left: 15px;
  z-index: 1;
}
.aboutUs__card .card__body .card__title, .aboutUs__card .card__body .card__description, .aboutUs__card .card__body .img__colored {
  position: relative;
  z-index: 2;
}
.aboutUs__card .card__body .card__title {
  margin-top: 30px;
  font-family: var(--font-OldStandard);
  font-size: 30px;
  font-weight: 400;
}
.aboutUs__card .card__body .card__description {
  margin-top: 20px;
  font-family: var(--font-Roboto);
  font-size: 14px;
  line-height: 22px;
}

.rooms {
  text-align: center;
  position: relative;
}
.rooms__caption {
  font-family: var(--font-Archivo);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 20px;
  color: #777777;
}
.rooms__title {
  font-family: var(--font-OldStandard);
  font-size: 56px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 25px;
}
.rooms__room {
  position: relative;
}
.rooms__room .room__options {
  position: relative;
  top: 50px;
  z-index: 2;
  margin-top: -50px;
}
.rooms__room .room__img {
  width: 100%;
  height: 250px;
}
.rooms__room .room__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms__room .room__info {
  margin: 0 auto;
  width: 90%;
  background-color: white;
  position: relative;
  bottom: 30px;
  padding: 20px 24px;
}
.rooms__room .room__info .room__title {
  font-family: var(--font-OldStandard);
  font-size: 28px;
  font-weight: 400;
}
.rooms__room .room__info .room__description {
  font-family: var(--font-Roboto);
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  margin: 15px 0px;
}
.rooms__room .room__info .room__price {
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-Archivo);
  color: #BDAC8D;
}
.rooms__room .room__info .room__price-mini {
  font-size: 15px;
  font-weight: 400;
}

.video {
  background-color: #222222;
  padding: 50px 20px;
  color: white;
}
.video__caption {
  font-family: var(--font-Archivo);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 20px;
  color: #777777;
}
.video__title {
  font-family: var(--font-OldStandard);
  font-size: 56px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 25px;
}
.video__description {
  margin-top: 20px;
  color: #C2C2C2;
  font-family: var(--font-Archivo);
  line-height: 24px;
  font-size: 14px;
}
.video__container {
  height: 270px;
}
.video__container video {
  width: 100%;
  height: 100%;
}
.video__btn {
  margin-top: 35px;
  color: white;
  display: block;
  padding: 22px 55px;
  font-family: var(--font-Roboto);
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border: 1px solid #BEAD8E;
  margin-top: 20px;
  background-color: #BEAD8E;
}

.facilities {
  text-align: center;
  padding: 25px;
}
.facilities__caption {
  font-family: var(--font-Archivo);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 35px;
  color: #777777;
}
.facilities__title {
  margin-top: 24px;
  font-family: var(--font-OldStandard);
  font-weight: 400;
  font-size: 56px;
  overflow-wrap: break-word;
}
.facilities__feature {
  margin: 0 auto;
  width: min(100%, 400px);
}
.facilities__feature .feature__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 35px 0px;
}
.facilities__feature .feature__number {
  color: rgba(34, 34, 34, 0.04);
  font-family: var(--font-Archivo);
  font-size: 120px;
  font-weight: 700;
  padding-bottom: 30px;
}
.facilities__feature .feature__img {
  -o-object-fit: none;
     object-fit: none;
  align-self: flex-end;
}
.facilities__feature .feature__body {
  text-align: start;
}
.facilities__feature .feature__title {
  font-family: var(--font-OldStandard);
  font-weight: 400;
  font-size: 30px;
}
.facilities__feature .feature__description {
  font-family: var(--font-Archivo);
  font-weight: 400;
  line-height: 24px;
  color: #777777;
  font-size: 14px;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-Roboto: "Roboto";
  --font-OldStandard: "Old Standard TT";
  --font-Archivo: "Archivo";
}/*# sourceMappingURL=styles.css.map */