@use 'header/header';
@use 'home/introduction';
@use 'home/availability';
@use 'home/aboutUs';

html, * {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

:root{
    --font-Roboto: 'Roboto';
    --font-OldStandard: 'Old Standard TT';
    --font-Archivo: 'Archivo';
}
