@use 'header/header';
@use 'introduction';
@use 'home/availability';
@use 'home/aboutUs';
@use 'home/rooms';
@use 'home/video';
@use 'home/facilities';
@use 'home/menu';
@use 'home/stadistics';
@use 'footer/footer';

html, * {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

:root{
    --font-Roboto: 'Roboto';
    --font-OldStandard: 'Old Standard TT';
    --font-Archivo: 'Archivo';
}
