.contact{
    padding: 40px 20px;
    text-align: center;
    input, textarea{
        width: 100%;
        padding: 25px 50px;
        border: none;
        background-color: #F8F8F8;
        margin-top: 16px;
        outline: none;
        font-family: var(--font-Roboto);
        font-weight: 400;
        font-size: 16px;
        color: #777777;
    }

    &__username{
        background: url(../assets/contact/contact_user_icon.png) no-repeat scroll;
        background-position-y: 25px;
        background-position-x: 15px;
    }

    &__usertel{
        background: url(../assets/contact/contact_userPhone_icon.png) no-repeat scroll;
        background-position-y: 25px;
        background-position-x: 15px;
    }

    &__useremail{
        background: url(../assets/contact/contact_userMail_icon.png) no-repeat scroll;
        background-position-y: 25px;
        background-position-x: 15px;
    }

    &__usersubject{
        background: url(../assets/contact/contact_subject_icon.png) no-repeat scroll;
        background-position-y: 25px;
        background-position-x: 15px;
    }

    &__usermessage{
        resize: none;
        background: url(../assets/contact/contact_pen_icon.png) no-repeat scroll;
        background-position-y: 25px;
        background-position-x: 15px;
    }
    &__btn{
        color: white;
        padding: 20px 102px;
        font-family: var(--font-Roboto);
        font-weight: 700;
        letter-spacing: 3px;
        cursor: pointer;
        border: 1px solid #BEAD8E;
        margin-top: 20px;
        background-color: #BEAD8E;
        
    }
}