.related{

    .swiper-relatedRooms{
        overflow: hidden;
        width: 100%;
        --swiper-navigation-size: 12px;
        --swiper-theme-color: black;
    
        .swiper-button-prev,.swiper-button-next{
            background-color: white;
            padding: 15px;
            top: var(--swiper-navigation-top-offset);
            margin-top: 150px;
    
            &:hover{
                background-color: #BDAC8D;
                color: white;
            }
        }
    }
    padding: 0 20px;
    margin-top: 100px;
    margin-bottom: 50px;

    &__title{
        font-family: var(--font-OldStandard);
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 15px;
    }

    hr{
        border-top: 1px solid #F1F1F1;
        margin-bottom: 35px;
    }
}