.introduction{
    background-color:#333333;
    position: relative;
    z-index: 1;
    padding: 140px 20px 75px 20px;
    font-family: var(--font-Archivo);
    color: white;

    &__caption{
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    &__title{
        margin-top: 40px;
        font-family: var(--font-OldStandard);
        font-size: 56px;
        line-height: 60px;
        font-weight: 400;
    }

    &__btn{
        color: white;
        display: block;
        padding: 23px 47px;
        font-family: var(--font-Archivo);
        font-weight: 700;
        letter-spacing: 3px;
        cursor: pointer;
        border: 1px solid #BEAD8E;

        &.btn-tour{
            margin-top: 40px;
            background-color: #BEAD8E;
        }

        &.btn-learn{
            margin-top: 20px;
            background: none;
        }
        
    }
}